## 변수

In [1]:
name = "김리나"

In [2]:
eng_name = "KimLina"

In [3]:
phone_number = "010-7138-2353"

In [4]:
height = "163cm"

In [7]:
print(name, '\n', eng_name, '\n', phone_number, '\n', height)
print()
print(name, '\t', eng_name, '\t', phone_number, '\t', height)

김리나
 KimLina
 010-7138-2353
 163cm

김리나 	 KimLina 	 010-7138-2353 	 163cm

## 숫자

In [8]:
number_1 = 1
number_2 = 1.0

## 문자

In [9]:
string_1 = "가나다라마바사"
string_2 = 'abcdef'
string_3 = "가나ab다라cd"
string_4 = '#!##$#@#sjhhasj12143'
print(1)
print("1")

1
1

In [ ]:
print("string")

## 고오급 출력

In [10]:
# 한 줄 출력
print('abcd', end="")
print('efgh')
# 한 칸 띄우고 출력
print("abcd", end=" ")
print("jkdjf")

abcdefgh
abcd jkdjf

In [11]:
# 2 자리 - 3 번째 자리에서 반올림
print("%.2f" % 1.234455566)
# 변수명으로 넣기
pi = 3.41592
print("%.2f" %pi)

1.23
3.42

In [12]:
# 문자 고급 출력
when = 10
where = "집"
print("나는 %d시에 %s에 간다"%(when,where)) #d: digit %s: string
print("나는 {}시에 {}에 간다".format(when,where)) # {}안에 format(변수)를 출력
print(f"나는 {when}시에 {where}에 간다") #{변수} 출력

나는 10시에 집에 간다
나는 10시에 집에 간다
나는 10시에 집에 간다

### 연습해보기

In [30]:
when = "21.01.11"
where = "집"
why = "코로나"
print(f"{when}에 {where}에 있었다. {why}때문에..")

21.01.11에 집에 있었다. 코로나때문에..

## 산술연산자

In [19]:
a = 10
b = 2

In [20]:
print(a+b)

12

In [21]:
print(a-b)

8

In [22]:
print(a*b)

20

In [24]:
print(a/b)
type(a/b)

5.0

float

### +@

In [25]:
print(a%b)
#if a % 2 == 0: #짝수
#if a % 2 != 0: #홀수

0

In [26]:
print(a//b)

a = 11
print(a//b) #몫을 나타내기 때문에 값이 같다

5
5

In [27]:
print(a % b)

1

## 변수와 산술연산자로 만드는 구구단

In [28]:
num = int(input("숫자를 입력해주세요"))
# input은 사용자에게 변수를 입력 받는 것
print(f"{num}단")
print(f'{num} x 1 = {num*1}')
print(f'{num} x 2 = {num*2}')
print(f'{num} x 3 = {num*3}')
print(f'{num} x 4 = {num*4}')
print(f'{num} x 5 = {num*5}')
print(f'{num} x 6 = {num*6}')
print(f'{num} x 7 = {num*7}')
print(f'{num} x 8 = {num*8}')
print(f'{num} x 9 = {num*9}')

숫자를 입력해주세요6
6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

## 자료형

In [31]:
list_a = [1, '이', 3]
def temp():
    print("나는 함수")
class Temp:
    pass

llist_b = [1, '이', temp]

In [32]:
list_a.append(temp)
list_a = list_a + [Temp]
print(list_a)

[1, '이', 3, <function temp at 0x7f31343eaef0>, <class '__main__.Temp'>]

In [33]:
set_a = {1,1,2,2,3,3}
print(set_a)

{1, 2, 3}

In [34]:
set_a.add(4)
set_a = set_a - {2,3}
print(set_a)

{1, 4}

In [ ]:
tuple_a = (1, '이', 3)
tuple_a = tuple_a

In [ ]:
bool

## 비교연산자

In [35]:
number_1 = 10
number_2 = 10
print(number_1 == number_2)

True

In [36]:
number_3 = 100
number_4 = 100
print(number_3 != number_4)

False

In [38]:
number_5 = 1000
number_6 = 2000
print(number_5 >= number_6)

False

### 문자도 비교 가능하다

In [41]:
print('ㅁ' == 'ㅁ')
print(['하하'] != "이것은 문자열")

True
True

In [40]:
print("a" > "A")

True

## is 비교

In [42]:
a = [1,2,3]
b = 100
c = 100.0

In [43]:
print(id(a))
print(id(b))
print(id(c))#각각의 주소값이 다 다르다

139849306654032
94682216157024
139849307044848

In [44]:
print(a is b)
print(b is c)
print(a is c)#주소값이 달라서 False

False
False
False

In [45]:
print(b == c)

True

In [46]:
c = 257
e = 257
print(c is e) #정수일 경우 0~256까지 주소가 정해져 있다.

False

## 논리연산자

In [47]:
a = 10
b = 10

In [48]:
(a and b) == 10

True

In [49]:
(a and b) == 11

False

In [50]:
c = 100
d = 1000

In [51]:
(c or d) == 100

True

In [52]:
(c or not d) == 10

False

In [53]:
not not d #논리연산자는 영어 뜻 그래도 이해하면 쉽다.

True

## 조건문

In [54]:
if a == True:
    a = a + 1

In [55]:
list_1 = [1,2,3,4,5,6,7,8,9,10]

if sum(list_1) < 100:
    print(sum(list_1))
    print("100보다 작음")

55
100보다 작음

In [56]:
if sum(list_1) > 100:
    print("list_1의 합은 55인데 100보다 크다라는 조건이 틀려서 어차피 이 print는 실행 안됨")

In [57]:
if sum(list_1) > 100:
    print("list_1의 합은 55인데 100보다 크다라는 조건이 틀려서 어차피 이 print는 실행 안됨")
elif sum(list_1) > 70:
    print("이것도 안됨. 위와 동일한 이유로")
else:
    print("위에 두 조건이 다 틀려서 실행됨")

위에 두 조건이 다 틀려서 실행됨

In [58]:
if list_1[0] == 1:
    list_1.append(11)
    print(list_1)
elif list_1[1] > 0:
    print("이건 실행이 될까요?")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [59]:
list_2 = ["A", "B", "C"]
if list_2:
    print("list_2는 존재하니까 실행")

list_2는 존재하니까 실행

In [61]:
if list_2 is not None:
    print("list_2는 None이 아니니까 실행")

list_2는 None이 아니니까 실행

In [63]:
if "A" in list_2:
    print("list_2 안에 A가 있으니까 실행")
if "D" not in list_2:
    print("list_2는 A B C뿐")

list_2 안에 A가 있으니까 실행
list_2는 A B C뿐

### 조건문이 실행되게 만들어보기

In [64]:
list_3 = [1,4,6,7,8]
if len(list_3) < 10:
    print("list_3 : ", list_3)

list_3 :  [1, 4, 6, 7, 8]

In [65]:
a = {1,2,3}
if type(a) == set :
    print('type of a : set')

type of a : set

## 반복문

In [67]:
#while A == 0:
#   print(123)

In [68]:
list_1 = [1,2,3,4,5,6,7,8,9]
while len(list_1) > 1:
    print(list_1.pop())

print(list_1)

9
8
7
6
5
4
3
2
[1]

### 주의할 점 : 언젠가는 조건을 만족해야 한다

In [ ]:
n = 10
while n > 0:
    print("끝나지 않는 무한루프") # 실행 주의

In [69]:
n = 10
while n > 0:
    print("곧 끝나는 루프")
    n = n - 1

곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프

In [70]:
n = 10
while n > 0:
    print("강제로 끝내는 방법 바로 'break'")
    break

강제로 끝내는 방법 바로 'break'

In [71]:
n = 10
while n > 0:
    print("n : ", n)
    n = n - 1
    if n == 5:
        break

n :  10
n :  9
n :  8
n :  7
n :  6